<article class="media">
  <figure class="media-left">
    <app-user-picture
      [name]="comment.firebaseUser.displayName"
      [pictureUrl]="comment.firebaseUser.photoURL"
    ></app-user-picture>
  </figure>
  <div class="media-content">
    <div class="content">
      <p class="author-name">
        {{ comment.firebaseUser.displayName }} <span class="imported-date">{{ comment.created | amTimeAgo }}</span>
      </p>
      <p>
        <ngx-md>{{ comment.body }}</ngx-md>
      </p>
    </div>
  </div>

  <div *ngIf="comment.firebaseUser.uid === user.uid" class="media-right">
    <button [matMenuTriggerFor]="editMenu" mat-icon-button>
      <mat-icon>more_vert</mat-icon>
    </button>
  </div>
</article>

<mat-menu #editMenu="matMenu">
  <button (click)="deleteComment()" mat-menu-item>Delete</button>
</mat-menu>
