<div *ngIf="challenge" class="section">
  <div class="container">


    <div *ngIf="challenge.underReview" class="message has-text-centered">
      <p><strong>This challenge is under review until three people have left feedback. While under review only
        your comments are visible.</strong></p>
    </div>


    <app-challenge-meta [challenge]="challenge"></app-challenge-meta>
  </div>
</div>

<div *ngIf="challenge" class="section">
  <div class="container">
    <app-feedback-section-component [challenge]="challenge"></app-feedback-section-component>
  </div>
</div>

<div *ngIf="challenge" class="section">
  <div class="container">
    <div class="columns is-multiline">
      <div class="column is-12 contents">
        <table class="table">
          <tr *ngFor="let codeFile of tableOfContent">
            <td>
              <a [href]="'#' + codeFile.id" pageScroll pageScrollDuration="0" pageScrollOffset="70">
                {{ codeFile.location }}
              </a>
            </td>
          </tr>
        </table>
      </div>

      <div *ngFor="let codeFile of tableOfContent">
        <app-code-file-component [challengeId]="challenge.id" [codeFile]="codeFile"></app-code-file-component>
      </div>
    </div>
  </div>
</div>

<app-scroll-to-top></app-scroll-to-top>
