.review-list {
  padding: 15px;
}

.action-bar {
  display: inline-block;
  margin-top: 50px;
  width: 100%;
}

.action {
  display: inline-block;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.87);
  text-transform: uppercase;
  font-weight: 500;
  padding-right: 20px;

  &:last-child {
    padding-right: 0;
  }

  &:hover {
    cursor: pointer;
  }
}

ul {
  margin-top: 20px;
  font-size: 14px;
  padding: 0;
}

.icon-count {
  font-size: 12px;
  margin-left: 5px;
}

.table {
  width: 100%;
  margin: 25px 0;

  td {
    vertical-align: middle;
    height: 42px;
    padding: 0;
    border-color: #e7e9eb;
    font-size: 14px;
  }

  .rounded {
    height: 32px;
    width: 32px;
  }
}

.is-vertical-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.users {
  display: inline-block;
  margin-right: 5px;
}

.example-viewport {
  height: 1000px;
  width: 100%;
}

.example-item {
  height: 1000px;
}
