<h1 mat-dialog-title>Overall feedback</h1>

<div mat-dialog-content>

  <div class="review-thread-reply">
    <article class="media">
      <figure class="media-left">
        <img [src]="data[2].photoURL">
      </figure>
      <div class="media-content">
        <div class="content">

          <md-editor
            [(ngModel)]="data[0].positive"
            [height]="'200px'"
            [mode]="'editor'"
            [options]="options"
            name="Content">
          </md-editor>

          <div class="column is-12 has-text-right is-paddingless">
            <button (click)="onNoClick()" mat-button>Cancel</button>
            <button [mat-dialog-close]="data" mat-button>Comment</button>
          </div>
        </div>
      </div>
    </article>
  </div>
</div>


