<td class="line-number" (click)="triggerCommentBox()">
  {{ lineNumber + 1 }}
</td>

<td class="code">
  <code [highlight]="codeLine.body"></code>

  <app-wysiwyg-editor-component
    (editorContentChange)="comment($event)"
    [show]="commentBox">
  </app-wysiwyg-editor-component>

  <div *ngIf="hasComments">
    <div class="columns is-multiline">
      <div class="column is-8">
        <div class="comment-box mat-elevation-z4">
          <div *ngFor="let comment of codeLine.comments">
            <app-code-comment-component [comment]="comment"></app-code-comment-component>
          </div>

          <div class="review-thread-reply">
            <article class="media">
              <figure class="media-left">
                <img [src]="user.photoURL">
              </figure>
              <div class="media-content">
                <div class="content">

                  <div *ngIf="!reviewThreadReplyBox; else reviewBox">
                    <button (click)="reviewThreadReply()" class="is-fullwidth" mat-button>Reply...</button>
                  </div>

                  <ng-template #reviewBox>
                    <md-editor
                      [(ngModel)]="reply"
                      [height]="'200px'"
                      [mode]="'editor'"
                      [options]="options"
                      name="Content">
                    </md-editor>

                    <div class="column is-12 has-text-right is-paddingless">
                      <button (click)="reviewThreadReply()" mat-button>Cancel</button>
                      <button (click)="comment(reply)" mat-button>Comment</button>
                    </div>

                  </ng-template>

                </div>
              </div>
            </article>
          </div>

        </div>
      </div>
    </div>
  </div>
</td>
