code {
  background: white;
  overflow: hidden;
  table-layout: fixed;
  width: 100%;
  padding: 5px 10px;
}

.code {
  line-height: 1;
  vertical-align: top;
  position: relative;
  padding-right: 10px;
  padding-left: 10px;
  color: #24292e;
  word-wrap: normal;
  white-space: pre;
  max-width: 100px;
  overflow: scroll;
}

.line-number {
  padding-top: 5px;
  min-width: 50px;
  width: 1%;
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  font-size: 12px;
  color: rgba(27, 31, 35, 0.3);
  text-align: right;
  white-space: nowrap;
  cursor: pointer;

  &:hover {
    color: rgba(27, 31, 35, 0.6);
  }
}

.error-line {
  background: #fff7f8;
  border: 1px solid #ffd6dc;
  box-sizing: border-box;
}

.comment-box {
  margin: 5px 0;
  border: 1px solid #e7e9eb;
}

.comment {
  font-size: 14px;
  margin-bottom: 15px;
  padding: 10px;

  &:hover {
    background: rgba(219, 219, 219, 0.31);
  }
}

.media-left {
  img {
    object-fit: cover;
    border-radius: 50%;
    height: 32px;
    width: 32px;
    background: #dbdbdb;
    border: 1px solid #dbdbdb;
    overflow: hidden;
  }
}

.review-thread-reply {
  padding: 8px 10px;
  background-color: #f6f8fa;
}
