td {
  vertical-align: top;
}

code {
  padding: 0;
  background: white;
  overflow: hidden;
  table-layout: fixed;
  width: 100%;
}

.code {
  line-height: 1;
  vertical-align: top;
  position: relative;
  padding-right: 10px;
  padding-left: 10px;
  color: #24292e;
  word-wrap: normal;
  white-space: pre;
}

.line-number {
  vertical-align: top;
  min-width: 50px;
  width: 1%;
  padding-right: 10px;
  padding-left: 10px;
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  font-size: 12px;
  color: rgba(27, 31, 35, 0.3);
  text-align: right;
  white-space: nowrap;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &:hover {
    color: rgba(27, 31, 35, 0.6);
  }
}

.comment-box {
  margin: 5px 0;
}

.comment {
  font-size: 14px;
  margin-bottom: 15px;
  padding: 10px;

  &:hover {
    background: rgba(219, 219, 219, 0.31);
  }
}

.media-left {
  img {
    object-fit: cover;
    border-radius: 50%;
    height: 32px;
    width: 32px;
    background: #dbdbdb;
    border: 1px solid #dbdbdb;
    overflow: hidden;
  }
}

.review-thread-reply {
  padding: 8px 10px;
  background-color: #f6f8fa;
  border-radius: 0 0 3px 3px;
}


