<td (click)="showCommentOrReplyBox()" class="line-number">
  {{ lineNumber + 1 }}
</td>

<td class="code">
  <code [highlight]="codeLine.body" [ngClass]="{ 'error-line': showBackground() }"></code>

  <div class="columns is-multiline">
    <div *ngIf="showCommentBox" class="column is-8">
      <div class="comment-box">
        <app-wysiwyg-component (cancelEvent)="showCommentOrReplyBox()" (editorContentChange)="addNewComment($event)">
        </app-wysiwyg-component>
      </div>
    </div>

    <div class="column is-8">
      <div *ngIf="comments.length >= 1" class="comment-box">
        <!-- Display all comments -->
        <div *ngFor="let comment of comments">
          <app-code-comment-component
            (deleteCommentEvent)="deleteComment($event)"
            [comment]="comment"
          ></app-code-comment-component>
        </div>

        <!-- Reply button-->
        <div *ngIf="!showReplyBox; else reviewBox">
          <article class="media reply-to-comment">
            <figure class="media-left">
              <app-user-picture></app-user-picture>
            </figure>
            <div class="media-content">
              <div class="content">
                <button (click)="showCommentOrReplyBox()" mat-button>Reply...</button>
              </div>
            </div>
          </article>
        </div>

        <!-- Reply content editor, replaces the button-->
        <ng-template #reviewBox>
          <app-wysiwyg-component (cancelEvent)="showCommentOrReplyBox()" (editorContentChange)="addNewComment($event)">
          </app-wysiwyg-component>
        </ng-template>
      </div>
    </div>
  </div>
</td>
