<div class="column is-12 contents element-box">
  <table class="table">
    <tr>
      <th>Files</th>
    </tr>
    <tr *ngFor="let codeFile of tableOfContent">
      <td>
        <a [href]="'#' + codeFile.id" pageScroll pageScrollDuration="0" pageScrollOffset="70">
          {{ codeFile.location }}
        </a>
      </td>
    </tr>
  </table>
</div>

<div *ngFor="let codeFile of tableOfContent">
  <app-code-file-component [challenge]="challenge" [codeFile]="codeFile"></app-code-file-component>
</div>
