<div class="column is-12 has-text-centered">
  <div class="action-bar">
    <ul class="button-group">
      <li><a mat-raised-button [href]="challenge.downloadUrl" download="challenge.zip">Download code</a></li>

      <li>
        <mat-spinner-button (btnClick)="editReviewers()" [options]="btnOpts"></mat-spinner-button>
      </li>
    </ul>
  </div>
</div>

<div class="column is-12 element-box has-text-centered">
  <p>Project under review: {{challenge.underReview}}</p>
</div>

<div class="column is-12 element-box">
  <table class="table is-fullwidth">
    <tr></tr>
    <tr>
      <th>
        Reviewer
      </th>
    </tr>
    <tr *ngFor="let reviewer of challenge.reviewers">
      <td>
        {{reviewer.email}}
      </td>
    </tr>
  </table>
</div>
