table {
  table-layout: fixed;
  width: 100%;
  border: 1px solid #f6f8fa;
}

.code-file {
  margin-bottom: 35px;
}

.filename {
  font-size: 14px;
  color: rgba(36, 41, 46, 0.71);

  padding: 8px 10px;
  background-color: #fafbfc;

  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;

  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.rounded {
  width: 32px;
  height: 32px;
}
