<div *ngIf="codeFile" class="column is-12 code-file element-box">
  <div class="filename" id="{{ codeFile.id }}">
    <div class="level">
      <div class="level-left">
        <div class="level-item">
          <i class="fa fa-file-code-o"></i>
        </div>

        <div class="level-item">
          {{ codeFile.location }}
        </div>
      </div>
    </div>
  </div>

  <table>
    <tr *ngIf="codeFile.codeLines.length == 0">
      <td>
        <div class="failed-to-load has-text-centered">
          <p><strong>This file is bigger than expected...</strong></p>
          <p>
            <button (click)="getContent()" mat-button>fetch file</button>
          </p>
        </div>
      </td>
    </tr>

    <tr *ngFor="let line of codeFile.codeLines; let i = index">
      <app-code-line-component
        (codeLineChange)="saveCodeLine($event)"
        [codeFile]="codeFile"
        [challenge]="challenge"
        [codeLine]="line"
        [lineNumber]="i"
      ></app-code-line-component>
    </tr>
  </table>
</div>
