<div *ngIf="codeFile" class="column is-12 code-file">

  <div class="mat-elevation-z20">

    <div class="filename" id="{{ codeFile.id }}">
      <div class="level">
        <div class="level-left">
          {{ codeFile.location }}
        </div>

        <div class="level-right">
          <div *ngFor="let author  of uniqueCommentAuthor()" class="level-item">
            <img [src]="author.avatarUrl" class="rounded" matTooltip="{{author.name}}">
          </div>
        </div>

      </div>
    </div>

    <table>
      <tr *ngFor="let line of codeFile.codeLines; let i = index">
        <app-code-line-component
          [codeLine]="line"
          (codeLineChange)="saveCodeLine($event)"
          [lineNumber]="i"
        ></app-code-line-component>
      </tr>
    </table>
  </div>

</div>
