table {
  table-layout: fixed;
  width: 100%;
  border: 1px solid #f6f8fa;
}

.code-file {
  margin-bottom: 35px;
}

.filename {
  font-size: 14px;
  color: rgba(36, 41, 46, 0.71);
  padding: 8px 10px;
  background-color: #fafbfc;
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
}

.failed-to-load {
  font-size: 14px;
  color: rgba(36, 41, 46, 0.71);
  padding: 8px 10px;
  background-color: #fafbfc;
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;

  p {
    padding: 10px;
  }
}
