<div *ngIf="challenges.length >= 1; else noChallenges">
  <div class="section">
    <div class="container">
      <div class="columns is-multiline">
        <div class="column is-12 element-box">
          <table class="table is-fullwidth">
            <tr>
              <th>State</th>
              <th>Position</th>
              <th>Added</th>
            </tr>
            <tr *ngFor="let challenge of challenges" routerLink="/review/{{ challenge.id }}">
              <td>
                <span *ngIf="challenge.underReview">In progress</span>
                <span *ngIf="!challenge.underReview">Complete</span>
              </td>
              <td>
                {{ challenge.position }}
              </td>
              <td>
                {{ challenge.created | amTimeAgo }}
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #noChallenges>
  <div class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-12">
          <div class="message has-text-centered">
            <p>You're all done! Check back later for new challenges</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
