.review-list {
  padding: 15px;

  .title {
    &:hover {
      color: rgba(27, 31, 35, 0.6);
      cursor: pointer;
    }
  }

  .meta {
    font-size: 12px;
    color: #586069;
  }

  .imported-date {
    font-size: 12px;
    color: #586069;
    padding: 10px 0;
  }

  .mat-chip {
    font-size: 12px;
    color: #586069;
  }

  h1 {
    margin-bottom: 0;
    font-size: 22px;
  }
}

hr {
  margin-bottom: 0;
}
