.table {
  width: 100%;
  margin: 25px 0;

  td {
    vertical-align: middle;
    height: 42px;
    padding: 0;
    border-color: #e7e9eb;
    font-size: 14px;

    &:hover {
      cursor: pointer;
    }
  }

  .rounded {
    height: 32px;
    width: 32px;
  }
}

.message {
  font-size: 14px;
  color: rgba(36, 41, 46, 0.71);
  padding: 8px 10px;
  background-color: #fafbfc;
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;

  p {
    padding: 10px;
  }
}
