<mat-form-field class="is-fullwidth">
  <mat-chip-list #chipList>
    <mat-chip (removed)="remove(reviewer)" *ngFor="let reviewer of reviewers" [removable]="removable"
              [selectable]="selectable">
      {{ reviewer }}
      <mat-icon *ngIf="removable" matChipRemove>cancel</mat-icon>
    </mat-chip>

    <input
      #reviewerInput
      (matChipInputTokenEnd)="add($event)"
      [formControl]="reviewerCtrl"
      [matAutocomplete]="auto"
      [matChipInputAddOnBlur]="addOnBlur"
      [matChipInputFor]="chipList"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      placeholder="Reviewers"
    />
  </mat-chip-list>

  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
    <mat-option *ngFor="let reviewer of filteredReviewers | async" [value]="reviewer">
      {{ reviewer }}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
