<div class="columns">
  <div class="column is-narrow">
    <img class="rounded" [src]="challenge.author.avatarUrl" />
  </div>

  <div class="column is-10">
    <h1 class="title" routerLink="/review/{{ challenge.id }}">
      <span *ngIf="challenge.author.name; else loginName">{{ challenge.author.name }}</span>

      <ng-template #loginName> {{ challenge.repository.owner.login }}</ng-template>
    </h1>

    <p class=" imported-date">{{ challenge.repository.name }}, added {{ challenge.created | amTimeAgo }}</p>

    <mat-chip-list>
      <mat-chip>{{ challenge.repository.language }} </mat-chip>
      <mat-chip>{{ challenge.cloc.SUM.code }} LoC</mat-chip>
      <mat-chip>{{ challenge.cloc.SUM.nFiles }} Files</mat-chip>
    </mat-chip-list>
  </div>
</div>
