.message {
  font-size: 14px;
  color: rgba(36, 41, 46, 0.71);
  padding: 8px 10px;
  background-color: #fafbfc;
  font-weight: 700;
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;

  p {
    padding: 10px;
  }
}
