<div *ngIf="show" class="columns is-multiline">
  <div class="column is-8">
    <div class="comment-box">

      <div class="review-thread-reply">
        <article class="media">
          <figure class="media-left">
            <img [src]="user.photoURL">
          </figure>
          <div class="media-content">
            <div class="content">

              <md-editor
                [(ngModel)]="editorContent"
                [height]="'200px'"
                [mode]="'editor'"
                [options]="options"
                name="Content">
              </md-editor>

              <div class="column is-12 has-text-right is-paddingless">
                <button (click)="hide()" mat-button>Cancel</button>
                <button (click)="save()" mat-button>Comment</button>
              </div>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</div>

