<article class="media">
  <figure class="media-left">
    <app-user-picture></app-user-picture>
  </figure>
  <div class="media-content">
    <div class="content">
      <md-editor [(ngModel)]="editorContent" [height]="'200px'" [mode]="'editor'" [options]="options"></md-editor>

      <div class="column is-12 has-text-right is-paddingless">
        <button (click)="cancel()" mat-button>Cancel</button>
        <button (click)="save()" mat-button>Comment</button>
      </div>
    </div>
  </div>
</article>
