<div class="column is-12 has-text-centered">
  <div class="action-bar">
    <mat-spinner-button (btnClick)="addFeedback()" [options]="btnOpts"></mat-spinner-button>
  </div>
</div>

<div class="column is-12 element-box">
  <div *ngIf="!challenge.underReview else underReview;">
    <table class="table ">
      <tr>
        <th>
          Reviewer
        </th>
        <th>
          Seniority
        </th>
        <th>
          Next stage
        </th>
        <th>
          Comments
        </th>
      </tr>
      <tr (click)="editFeedback(feedback)" *ngFor="let feedback of challenge.feedback">
        <td>
          {{feedback.reviewer.displayName}}
        </td>
        <td>
          {{feedback.level}}
        </td>
        <td>
          {{feedback.nextStage}}
        </td>
        <td>
          {{feedback.comments}}
        </td>
      </tr>
    </table>
  </div>
</div>

<ng-template #underReview class="column is-12 element-box">
  <table class="table ">
    <tr>
      <th>
        Reviewer
      </th>
      <th>
        Seniority
      </th>
      <th>
        Next stage
      </th>
      <th>
        Comments
      </th>
    </tr>
    <tr (click)="editFeedback(feedback)" *ngIf="currentFeedback as feedback">
      <td>
        {{feedback.reviewer.displayName}}
      </td>
      <td>
        {{feedback.level}}
      </td>
      <td>
        {{feedback.nextStage}}
      </td>
      <td>
        {{feedback.comments}}
      </td>
    </tr>
  </table>
</ng-template>
