<ul class="action-bar">
  <li class="action">
    <a [matMenuTriggerFor]="cloneMenu" mat-button>
      <mat-icon>get_app</mat-icon>
      Clone
    </a>
  </li>

  <mat-menu #cloneMenu="matMenu">
    <ng-template matMenuContent>
      <button mat-menu-item (click)="copyToClip(challenge.repository.sshUrl)">
        Use SSH
      </button>
      <button mat-menu-item (click)="copyToClip(challenge.repository.htmlUrl)">
        Use HTTPS
      </button>
    </ng-template>
  </mat-menu>

  <li class="action">
    <a href="{{ challenge.repository.htmlUrl }}" mat-button target="_blank">
      <mat-icon>code</mat-icon>
      See on GitHub
    </a>
  </li>

  <li *ngIf="challenge.lever" class="action">
    <a href="{{ challenge.lever }}" mat-button target="_blank">
      <mat-icon>link</mat-icon>
      See on Lever
    </a>
  </li>

  <li (click)="deleteChallenge(challenge)" class="action">
    <button mat-button>
      <mat-icon>delete_forever</mat-icon>
      Delete
    </button>
  </li>

  <li class="action">
    <a (click)="feedback()" color="primary" mat-raised-button>
      <i class="fa fa-comments"></i>
      Feedback
    </a>
  </li>
</ul>
