@import '~bulma';
@import '~highlight.js/styles/github.css';

.is-fullheight {
  height: 100%;
}

html,
body {
  height: 100%;
  background-color: #F4F7FA;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji',
  'Segoe UI Emoji', 'Segoe UI Symbol';
}

.mat-form-field {
  width: 100%;
}

.mat-dialog-actions {
  float: right;
  padding-bottom: 22px !important;
  padding-top: 22px !important;
}

.hero.has-background {
  position: relative;
  overflow: hidden;
}

.hero-background {
  position: absolute;
  object-fit: cover;
  object-position: center center;
  width: 100%;
  height: 100%;
}

.hero-background.is-transparent {
  opacity: 0.3;
}

.section {
  margin-top: 50px;
}

input {
  font-size: 12px;
}

.mat-button-wrapper {
  text-transform: capitalize;
}

hr {
  margin-bottom: 0;
}

.second-toolbar {
  display: none !important;
}

.btn-group,
.btn-group-vertical {
  position: relative;
  display: inline-flex;
  vertical-align: middle;
}

.btn-group-sm > .btn,
.btn-sm {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.2rem;
}

.btn {
  font-size: 10px;

  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;

  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
  box-shadow 0.15s ease-in-out;

  &:first-child::before {
    content: ' ';
    background-color: #a9a9a9;
    width: 1px;
    height: 26px;
    left: 0 !important;
    top: 7px !important;
    position: absolute;
  }
}

.md-editor-container {
  margin-bottom: 10px !important;
  background: white !important;
}

.imported-date {
  font-size: 12px;
  color: #586069;
}

.media {
  padding: 10px;
}

.comment-box {
  border: 1px solid #e7e9eb;
}

*:focus {
  outline: none;
}


.message {
  margin-top: 50px;
  font-size: 14px;
  color: rgba(36, 41, 46, 0.71);
  padding: 12px 10px;
  background-color: #fafbfc;
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;

  p {
    color: #363636;
    font-weight: 700;
    padding: 10px;
  }
}

.table {
  th {
    color: rgba(0, 0, 0, 0.6);
    text-transform: uppercase;
    padding: 15px;
    font-weight: normal;
    font-size: 12px;
  }
}

.element-box {
  background-color: #fff;
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 7px 14px 0 rgba(60, 66, 87, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.07);
}
