<nav aria-label="main navigation" class="navbar is-fixed-top scrolling" role="navigation">
  <div class="navbar-item">
    challenges.io
  </div>

  <div class="navbar-item">
    <button
      [matBadgeHidden]="!badgeVisible"
      [matBadge]="badgeValue.toString()"
      mat-button
      matBadgeOverlap="true"
      matBadgeSize="small"
      routerLink="/"
    >
      Reviews
    </button>
  </div>

  <div class="navbar-end">
    <div class="navbar-item">
      <button (click)="addApplicant()" mat-button>
        Add applicant
      </button>
    </div>

    <div class="navbar-item">
      <div class="profile-button">
        <button [matMenuTriggerFor]="settingsMenu" mat-icon-button>
          <mat-icon>more_vert</mat-icon>
        </button>
      </div>
    </div>
  </div>
</nav>

<mat-menu #settingsMenu="matMenu">
  <button mat-menu-item routerLink="/admin">Configuration</button>
  <button mat-menu-item routerLink="/profile">Profile</button>
  <button (click)="googleLogout()" mat-menu-item>Logout</button>
</mat-menu>
