<div class="column is-12">
  <div class="message has-text-centered">
    <p>This challenge is under review.</p>
  </div>
</div>

<div class="column is-12">


  <div class="level">
    <div class="level-left">
      <div class="level-item">
        <h2 class="is-2">Reviewers</h2>
      </div>
    </div>
    <div class="level-right">
      <div class="level-item">
        <button (click)="editReviewers()" mat-icon-button>
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>
  </div>


  <table class="table is-fullwidth">
    <tr *ngFor="let reviewer of challenge.reviewers">
      <td>
        {{reviewer.displayName}}
      </td>
      <td>
        {{reviewer.email}}
      </td>
    </tr>
  </table>
</div>
